<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLCHB_Connection" connectionString="Host=ep-empty-cloud-a1nbjoyp-pooler.ap-southeast-1.aws.neon.tech;Port=5432;Username=Long;Password=npg_S2HXl4dgItaG;Database=QLCHB;"/>
	</connectionStrings>
	<appSettings>
		<add key="CloudinaryCloudName" value="dkqiuydlm" />
		<add key="CloudinaryApiKey" value="291274381687389" />
		<add key="CloudinaryApiSecret" value="BwIdgM5HaShoTYVQQHljyv6h_Dg" />
	</appSettings>
</configuration>