<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLCHB_Connection" connectionString="Host=ep-cool-rain-a1660f02-pooler.ap-southeast-1.aws.neon.tech;Port=5432;Username=QLCHB_owner;Password=npg_gt3GjQ1Ariwv;Database=QLCHB;"/>
	</connectionStrings>
</configuration>